<% @projects.each do |project| %>
  <div class="project" id ="<%= dom_id(project)%>">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
      <div class="panel panel-default item">
        <div class="panel-heading">
          <%= link_to(image_tag(project.projectpic_url, :class => "img-responsive item-img"), project_path(project)) %>
        </div>
        <div class="panel-body">
          <h4 class="item-title"><%= link_to project.name, project_path(project) %></h4>
          <p class="item-description"><%= project.short_desc %></p>
          <div class="nav">
            <% if current_user.present? %>
              <%= link_to 'Edit Project', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<br />
<% if current_user.present? %>
  <%= link_to 'New Project', new_project_path %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

