<% content_for :hidefrontpage do %>
  #front_welcome {display: none}
<% end %>

<p id="notice"><%= notice %></p>
<div class="col-lg-12">
  <h1><p>
    <%= image_tag(@project.projectpic_url, :class => "img-responsive item-img") %>
    <b>Name:</b>
    <%= @project.name %>
  </p></h1>
  <h1 class="spacer">___</h1>

  <p class="work">
    <b>Description:</b>
    <%= @project.long_desc %>
  </p>
  <% if current_user.present? %>
    <%= link_to 'Edit Project', edit_project_path(@project) %> |
    <%= link_to 'Back', root_path %>
  <% end %>
