<!DOCTYPE html>

<%= render '/layouts/layouttop' %>

    <%= render 'layouts/layouttitle' %>

                            <li>
                                <%= link_to "work", root_path %>
                            </li><!--
                            --><li class=" active">
                                <%= link_to "blog", posts_path %>
                            </li><!--
                            --><li>
                                <a href="contact.html">contact</a>
                            </li><!--
                            --><li>
                                <%= link_to(image_tag("/assets/icon-linkedin.png", :class => "social"), "http://www.linkedin.com/in/mlsayre", :target => "_blank") %>
                                <%= link_to(image_tag("/assets/github-128.png", :class => "social"), "http://github.com/mlsayre", :target => "_blank") %>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                    <div>
                        <section>
                          <%= yield %>
                          <div id="front_blog">
                            <style><%= yield :hidefrontblog %></style>
                            <!--article title-->
                            <h1><%= @lastpost.title %></h1>
                            <h1 class="spacer">______</h1>
                            <h4>by <%= @lastpost.creator %></h4>

                            <!--article date-->
                            <p class="article-date"><%= @lastpost.created_at.strftime("%b %d, %Y") %> | <%= @lastpost.created_at.strftime("%l:%M%P") %></p>

                            <!--article tags-->
                            <p class="article-tags">
                                Categories: <%= @lastpost.category %>
                            </p>

                            <!--article content-->
                            <p class="article-description"><strong><%= @lastpost.summary %></strong>
                            <br><br>
                            <%= @lastpost.content %>
                            </p>

                            <!--navigation-->
                            <ul class="pager">
                                <li class="previous"><%= link_to 'Prev', post_path(@post.previous_post)  if @post.previous_post %></li>
                                <li class="next"><%= link_to 'Next', post_path(@post.next_post)  if @post.next_post %></li>
                            </ul>
                            <hr>
                          </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-right">
                    <div id="scroll-shadow"></div>
                    <h1 class="visible-xs section-header" id="posts-list">Last posts</h1>
                    <h1 class="visible-xs text-center spacer">___</h1>

                    <section class="blog">

                      <%= render 'index' %>

                    </section>
                    <a class="btn btn-default btn-lg btn-block load-more">Load more</a>
                    <a class="btn btn-block scroll-top visible-xs">
                        <img src="/assets/icon-chevron.png" alt="Scroll top">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
