<!DOCTYPE html>

<%= render '/layouts/layouttop' %>

    <%= render 'layouts/layouttitle' %>
                            <li>
                                <%= link_to "work", root_path %>
                            </li><!--
                            --><li>
                                 <%= link_to "blog", posts_path %>
                            </li><!--
                            --><li class="active">
                                 <%= link_to "contact", contact_url %>
                            </li><!--
                            --><li>
                                <%= link_to(image_tag("/assets/icon-linkedin.png", :class => "social"), "http://www.linkedin.com/in/mlsayre", :target => "_blank") %>
                                <%= link_to(image_tag("/assets/github-128.png", :class => "social"), "http://github.com/mlsayre", :target => "_blank") %>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                    <section>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

                                <!--input contact-->
                                <h1>Contact</h1>
                                <h1 class="spacer">___</h1>
                                <p>If you have any web development questions or if you are a company in need of a friendly, efficient, and enthusiastic web developer, please feel free to send me an email. I promise to reply as soon as someone breaks me out of the carbonite and my wookie reads me your message.</p>
                                <br />
                                <p><%= mail_to 'mlsayre@gmail.com', 'Click to email me...' %>
                                <hr>

                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-right">
                <div id="scroll-shadow"></div>
                    <section>
                        <div class="row">
                            <div class="col-lg-12">

                                <!--panel contact-->
                                <div class="panel panel-default item">
                                    <div class="panel-heading">
                                        <a href="#">

                                            <!--your image-->
                                            <img class="img-responsive item-img" src="https://s3-us-west-2.amazonaws.com/portmls/portfolio/mefrozen.jpg" alt="Me. Frozen.">

                                        </a>
                                    </div>
                                    <div class="panel-body">

                                        <!--your name-->
                                        <a href="#"><h4 class="item-title">Matt Sayre</h4></a>

                                        <!--your profession / where you live-->
                                        <p class="item-category">Web Developer, Seattle</p>

                                        <!--your descritpion -->
                                        <p class="item-description">I am a professional web developer versed in Ruby on Rails, HTML, CSS, Javascript, jQuery, and various other technologies. I look forward to every web production or design challenge no matter how big or small. The process of finding solutions is both exhilarating and addictive and I wouldn't trade my job for any other. Let's talk!</p>
                                        <hr>

                                        <!--social networks-->
                                        <div class="item-social text-center">
                                            <%= link_to(image_tag("/assets/icon-linkedin.png", :class => "social"), "http://www.linkedin.com/in/mlsayre", :target => "_blank") %>
                                            <%= link_to(image_tag("/assets/github-128.png", :class => "social"), "http://github.com/mlsayre", :target => "_blank") %>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <script src="js/jquery.js"></script>
        <!-- FASTCLICK -->
        <script src="js/plugins/fastclick/fastclick.js"></script>
        <!-- SMOOTH SCROLL -->
        <script src="js/plugins/smooth-scroll/jquery.smooth-scroll.min.js"></script>
        <!-- MIXITUP -->
        <script src="js/plugins/mixitup/jquery.mixitup.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
